.SearchContainer {
  position: relative;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 15px;
  width: 100%;
  max-width: 900px;
  padding: 0 15px;
  box-sizing: border-box;
}

.SearchBar input {
  border-radius: 20px;
  color: #344e41;
  padding-left: 45px;
  padding-right: 20px;
  border: 1px solid #ccc;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
}

.SearchBar input:focus {
  border-color: rgb(160, 160, 160);
  box-shadow: 0 0 5px rgba(160, 160, 160, 0.5);
}

.SearchIcon {
  position: absolute;
  left: 20px; 
  top: 50%;
  transform: translateY(-50%);
  color: #3a5a40;
  font-size: 1.6rem;
  pointer-events: none;
}


.Tags {
  background-color: #a3b18a !important;
  color: #094125 !important;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;
  margin: 5px;
  transition: transform 0.2s, background-color 0.3s ease-in-out;
}

.Tags:hover {
  background-color: #588157 !important;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Tags:active {
  background-color: #3a5a40 !important;
}

.PostTags {
  animation: shake 7s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}

.TagIcon {
  color: #a3b18a;
}

.TagIcon:hover {
  cursor: default;
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }
  20%, 80% {
    transform: translateX(1px);
  }
  30%, 50%, 70% {
    transform: translateX(-1px);
  }
  40%, 60% {
    transform: translateX(1px);
  }
}

@media only screen and (max-width: 767px) {
  div span img {
    height: 40px;
    width: 40px;
  }

  .SearchContainer {
    width: calc(100% - 20px);
    margin: 0 auto 20px;
    max-width: 100%;
  }

  .SearchBar input {
    width: 100%;
    max-width: 100%;
  }
}
