.HomePromptOne {
  transform: rotate(-2deg);
}

.HomePromptThree {
  transform: rotate(2deg);
}

.HomeButton {
  align-self: center;
  min-width: 50px;
  border-radius: 50px;
  font-size: 0.9rem;
  padding: 7.5px;
  margin-bottom: 15px;
  margin-right: 2px;
  margin-left: 2px;
  background-color: #A3B18A; 
  border-color: #A3B18A;
  border-width: 1px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.HomeButton:hover {
  background-color: #7f9d70;
  border-color: #6d8f5a;
  font-weight: 600;
  color: #ffffff;
  animation: btngentleshake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.HomeButton:active:focus {
  border-color: #6d8f5a; 
  transition: color, fill ease-in-out 0.3s;
}

.HomeButton:not(:disabled):not(.disabled):active {
  background-color: #6d8f5a;
  transform: translateY(1px);
  border-color: #6d8f5a;
}

.HomeButton:focus {
  background-color: #6d8f5a;
  border-color: #6d8f5a;
}

.ContactIcons {
  animation: bounce 2s ease-in-out infinite;
}

.ContactIcons:hover {
  color: #ffffff;
}

.LinkedinIcon {
  color: #4c73a6;
}

.GithubIcon {
  color: #3e4b57;
}
