.NavBar {
    background-color: #A3B18A;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  .LogoutIcon {
    color: #D90429;
  }
  
  .ProfileIcon {
    color: #344E41;
  }
  
  .ToggleButton {
    background-color: #A3B18A;
    border: none;
    color: white;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
   
  
  