.App {
  font-family: "Varela Round", sans-serif;
  color: #344e41;
  background-color: #DAD7CD;
  min-height: 100vh;
}

.Main {
  padding-top: 81px;
}

.Content {
  background-color: #ffffff;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  border: 1px solid #DAD7CD;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

* {
  box-sizing: border-box;
}

a {
  color: #344e41;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #9d4edd;
  fill: #9d4edd;
  transition: color, fill ease-in-out 0.3s;
}

span {
  color: #094125;
  font-weight: bold;
}

a:hover span,
button:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #9d4edd;
  font-weight: 600;
}

i {
  color: #344e41; /* Updated icon color */
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover,
button:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #9d4edd;
  font-weight: 600;
}
